.registration-screen {
  display: flex;
  background-image: url('../../../public/assets/images/Vector.png'), url('../../../public/assets/images/bg.png');
  background-position: left center, top right;
  background-repeat: no-repeat, no-repeat;
  background-size: auto, 60%;
  position: relative;
  z-index: 1;
}

.left-side,
.right-side {
  flex: 1;
  padding: 20px;
  color: #fff;
  position: relative; /* Added to allow z-index to work */
}

.left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.details-container {
  position: relative;
  z-index: 1; /* Ensure the content is above the background image */
}

.left-side::before {
  content: "";
  background-image: url('../../../public/assets/images/Vector.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the image */
  opacity: 0.5;
  z-index: 0;
}

.left-side h2,
.right-side h2 {
  font-size: 24px;
  text-align: center;
  color: #000000;
}

.header-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.radio-options {
  display: flex;
  align-items: center;
}

.radio-options label {
  margin-right: 16px;
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 400;
}

.radio-options input[type="radio"] {
  transform: scale(1.2);
}

.strength {
  width: 80%;
  height: 2px;
  background: #878181;
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  margin: 0 auto;
}

.preview-container .box {
  color: black;
  width: 80%;
  height: 40px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #4A667A;
  border-radius: 5px;
  margin: 20px auto;
  display: flex;
  text-align: left;
  align-items: center;
}

.preview-container .form-group1 {
  margin-bottom: 20px;
  /* height: 100vh; */
}

.buttons-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.buttons-container button {
  margin-right: 10px;
  padding: 10px 20px;
  background-color: #fff;
  color: #1578BE;
  border: 2px solid #1578BE;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
}

.buttons-container button:hover {
  background-color: #1578BE;
}

.form-row2 {
  display: flex;
  justify-content: space-between;
}

.box1 {
  color: black;
  width: 30%;
  height: 35px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #4A667A;
  border-radius: 5px;
  margin: auto;
  margin-top: 10px;
  display: flex;
  text-align: left;
  align-items: center;
}
